<div>
<mat-sidenav-container>
  <mat-sidenav class="sidenav" fixedInViewport="true"
               [attr.role]="'navigation'"
               [mode]="'side'"
               [opened]="true">
    <mat-toolbar class="app-name" routerLink="./">Omnivox</mat-toolbar>
    <mat-nav-list>
      <span *ngIf="!authService.isLoggedIn">
        <a mat-list-item routerLink="announcements">Announcements</a>
        <a mat-list-item routerLink="login">Login</a>
        <a mat-list-item routerLink="register">Register</a>
      </span>
      <span *ngIf="authService.isLoggedIn">
        <p class="t-s-name">Welcome {{authService.isLoggedIn.name}}</p>
        <a mat-list-item routerLink="announcements">Announcements</a>
        <a mat-list-item routerLink="assignments">Assignments</a>
        <a mat-list-item (click)="logout()">Logout</a>
      </span>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
  <div style="margin-left: 25%">
    <router-outlet></router-outlet>
  </div>
</div>


