<h1 mat-dialog-title>Add Announcement</h1>
<form [formGroup]="newAnnouncement" (ngSubmit)="addAnnouncement()">
<mat-dialog-content>
    <mat-form-field>
      <textarea matInput placeholder="Body" formControlName="body" required></textarea>
    </mat-form-field>
  <div *ngIf="isSubmitted && formControls.body.errors" class="error-message">
    <div *ngIf="formControls.body.errors.required">body is required</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="submit" mat-raised-button>Submit</button>
  <button mat-button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
</form>



