<mat-card class="main">
  <mat-card-header class="head">
    <mat-card-title>Subject</mat-card-title>
    <mat-card-subtitle>Teachers name</mat-card-subtitle>
  </mat-card-header>
  <p class="due-date">Date</p>
  <mat-card-content>
    <p class="body">
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions class="submit-button">
    <button mat-raised-button (click)="openDialog()">SUBMIT ASSIGNMENT</button>
  </mat-card-actions>
</mat-card>
