.main{
  background-color: whitesmoke;
  margin: 20px auto;
  padding-top: 20px;
  padding-bottom: 25px;
  width: 75%;
}

.head{
  float: left;
}

.due-date{
  float: right;
}

.body{
  clear: both;
  margin: 0 16px;
}

.ml-16{
  margin:0 16px;
  padding: 0px;
}
