
<!--Students view of assignment-->
<div *ngIf="authService.isLoggedIn.accountType == 'student'">
  <mat-card class="main">
    <mat-card-header class="head">
      <mat-card-title>{{assignment.subject}}</mat-card-title>
      <mat-card-subtitle>Teacher: {{assignment.teacherName}}</mat-card-subtitle>
    </mat-card-header>
    <div class="due-date">
    Release Date: {{assignment.dueDate}}<br>
      <span  [ngClass]="{'red': isOverdue}">
        Due Date: {{assignment.releaseDate}}<br>
      </span>
    </div>
    <mat-card-content>
      <p class="body">
        {{assignment.body}}
      </p>
    </mat-card-content>
    <span *ngIf="!assignment.grade && !assignment.submittedDate && submittable">
    <mat-card-actions class="ml-16">
      <button mat-raised-button (click)="openDialog()">SUBMIT ASSIGNMENT</button>
    </mat-card-actions>
      </span>
    <span *ngIf="assignment.submittedDate" class="ml-16 green">Submitted: {{assignment.submittedDate}}<br></span>
    <span *ngIf="assignment.grade" class="ml-16">Grade: {{assignment.grade}}</span>
  </mat-card>
</div>

<!--Teachers view of assignment-->
<div *ngIf="authService.isLoggedIn.accountType == 'teacher'">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{assignment.subject}}
        </mat-panel-title>
        <mat-panel-title>
          Due Date: {{assignment.releaseDate}}<br>
          Release Date: {{assignment.dueDate}}<br>
        </mat-panel-title>
        <mat-panel-description>
          {{assignment.body}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-submissions [assignmentId]="assignment.id"></app-submissions>
    </mat-expansion-panel>
  </mat-accordion>
</div>
