<div class="mat-elevation-z4 main-box">
  <h1 class="mat-display-1 mb-2">Login</h1>
  <mat-tab-group>
    <mat-tab label="Student">
      <div class="inner-box">
        <mat-form-field>
          <input matInput placeholder="Student ID" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" required>
        </mat-form-field>
        <button mat-flat-button color="primary" class="form-button">Student Login</button>
      </div>
    </mat-tab>
    <mat-tab label="Teacher">
      <div>
        <div class="inner-box">
          <mat-form-field>
            <input matInput placeholder="Teacher ID" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" required>
          </mat-form-field>
          <button mat-flat-button color="primary" class="form-button">Teacher Login</button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
