.main-box{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
  padding: 4% 5%;
  border-radius: 8px;
  width: 30%;
}
.mb-2{
  margin-bottom: 40px;
}
.inner-box{
  margin: 10px 0px;
}

.mat-form-field{
  margin-top: 10px;
  width: 100%;
}

.form-button{
  margin-top: 17px;
  width: 100%;
}

.error-message{
  position: relative;
  top: -15px;
  text-align: left;
  font-size: 12px;
  color: rgb(230, 14, 14);
}
