<div class="mat-elevation-z4 main-box">
  <h1 class="mat-display-1 mb-2">Register</h1>

      <div class="inner-box">
        <mat-form-field class="form-field">
          <input matInput placeholder="Name" required>
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput placeholder="Password" required>
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput placeholder=" Confirm Password" required>
        </mat-form-field>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" color="primary" checked>Student</mat-radio-button>
          <mat-radio-button value="2" color="primary">Teacher</mat-radio-button>
        </mat-radio-group>
        <button mat-flat-button color="primary" class="form-button">Register</button>
      </div>
      <div>
      </div>

</div>

